.projects-wrap
  width: 100%
  overflow: hidden

.project
  max-width: 300px
  float: right
  position: relative
  display: block
  margin: 2em
  h2
    position: absolute
    top: 0
    z-index: -1
  a
    display: inline-block
    overflow: hidden
    z-index: 5
    img
      z-index: 5
      width: 100%
      border-radius: 10px
  p
    position: absolute
    bottom: 0
    z-index: -1
