.header
  width: 100%
  padding: 0em 2em
  margin: 0 auto
  max-width: 992px
  ul
    padding: 0
    margin: 0
    text-align: left
    list-style: none
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    li
      padding: 0
      display: inline-block;
      h1
        font-size: 4em
      a
        display: block
        padding: 1em 2em
        font-size: 1.8em
        text-decoration: none
        color: #444
        &.strikeout
          text-decoration: line-through;
