.upper-wrap
  overflow: hidden
  position: relative
  background-color: #000000

.upper-full-image
  opacity: .5

.upper-content
  width: 55%
  position: absolute
  top: 50%
  left: 40%
  transform: translateY(-50%) translateX(-50%)
  h1, h2
    color: #ffffff
    padding: 5px 20px
  h1
    font-size: 50px
  h2
    font-size: 36px
