// Import all partials
@require './_*.styl'

//Gloabl Styles
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit
body
  margin 0
  background #ffffff
  font-size: 10px
  font-family: 'montserrat', sans-serif



h1, h2, h3, h4
  padding 0
  margin 0
