.upper-wrap {
  overflow: hidden;
  position: relative;
  background-color: #000;
}
.upper-full-image {
  opacity: 0.5;
}
.upper-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.upper-content h1,
.upper-content h2 {
  color: #fff;
  padding: 5px 20px;
}
.upper-content h1 {
  font-size: 50px;
}
.upper-content h2 {
  font-size: 36px;
}
body {
  margin: 0;
  background: #fff;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
