// Import all partials
@require './_*.styl'

//varaibles
bg-color = #fffff3
title-color = #A593E0
text-color = #566270
alt-text-color = #E0E3DA

//Gloabl Styles
html
  box-sizing: border-box
  //vertically align everything
  height: 100%
  margin: 0

*, *:before, *:after
  box-sizing: inherit

body
  margin 0
  background: bg-color
  font-size: 10px
  font-family: 'montserrat', sans-serif
  //vertically align everything
  -webkit-align-items: center
  -ms-flex-align: center
  align-items: center
  display: -webkit-flex
  display: flex

h1, h2, h3, h4
  padding 0
  margin 0
  color: title-color

p, a, li, span
  color: text-color

#main
  width: 100%

//misc
.strikeout
  text-decoration: line-through

.hide-contact-wrap
  position: relative;
  overflow: hidden;
  z-index: 10;
  background-color: bg-color
  margin-bottom: 150px
