.upper-wrap {
  overflow: hidden;
  position: relative;
}
.upper-full-image {
  filter: #808080;
  -webkit-filter: grayscale(100%);
}
.upper-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}
.upper-content h1 {
  color: #fbd14b;
  padding: 5px 20px;
  font-size: 65px;
}
body {
  margin: 0;
  background: #fffcf0;
}
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
